



header {
    
    background: #331436;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);e;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    
    /*position: absolute;  causando um probleman onde fica por cima da seçao abaixo  */
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;

}


.logo-1 {
    width: 50px;
    height: 50px;
    
    background: url(logo.jpg);
    border-radius: 50px;
    
}

.titulo {
    width: 1070px;
    height: 36px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

    
    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 1;


}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 240px;
    height: 48px;
    
    background: #331436;
    flex: none;
    order: 2;
    flex-grow: 0;

}

.header-nav button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
    width: 240px;
    height: 48px;
    
    background: #CB4F57;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCF4B6;

    
}


footer {
    background: #331436;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    z-index: 5;
    }


    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 60px;
        gap: 60px;
    
    
        background: #331436;
    
        flex: none;
        order: 5;
        align-self: stretch;
        flex-grow: 0;
        z-index: 5;
    }

    .socials {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 60px;
        gap: 60px;
        
        
        background: #331436;
        
        flex: none;
        order: 5;
        align-self: stretch;
        flex-grow: 0;
        z-index: 5;
        
    }
footer .container h1 {
    width: 392px;
    height: 100px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    

}







.main-section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 170px;
    gap: 60px;
    
    
    background: #7A1745;
    
    
    
    }
.main-section .container {
    
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;


}

.main-section .container h1 {
    width: 520px;
height: 48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
text-align: center;

color: #FFFFFF;
}

.main-section .container h1 strong {

    color: #FCF4B6;
}
.main-section .container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
width: 520px;
height: 72px;
    
text-align: center;
    
color: #FFFFFF;

}

.main-section img {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

}



.main-section button {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 240px;
    height: 48px;
    
    background: #CB4F57;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FCF4B6;
}

.section-2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
    isolation: isolate;
}

.section-2 .container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
}
.section-2 .container h1 {

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #000000;
}
.section-2 .container p {

    width: 1100px;
    height: 48px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    color: #020000;
}

.section-2 .container button {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;
    gap: 12px;
    
    width: 240px;
    height: 48px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;

background: #331436;
border-radius: 8px;

}


.section-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}
.section-2 .row {


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;   
}

.section-2 .card {
    
box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 340px;
height: 420px;

border: 1px solid #FFFFFF;
border-radius: 6px;
}

.section-2 .card img {

    width: 340px;
    height: 340px;

    background: rgba(217, 217, 217, 0.5);

}
.section-2 .card .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 4px;

    width: 340px;
    height: 80px;

}
.section-2 .card .text-content h1{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    
    color: #331436;
}

.section-2 .card .text-content p {

    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    color: #331436;
    
}


.section-3 {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 170px;
gap: 60px;


background: rgba(252, 244, 182, 0.5);
}

.section-3 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.section-3 .container h1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
text-align: center;

color: #331436;
}

.section-3 .container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    
    color: #331436;
}

.section-3 .container button {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 240px;
height: 48px;

background: #331436;
border-radius: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.section-3 ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    
}

.section-3 ul .row {

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;
}


.section-3 ul li {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 20px;
    
width: 245px;
height: 204px;

}
.section-3 ul li .frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  
    
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    
    background: #331436;
    border-radius: 50px;
}

.section-3 ul li .frame img {
    margin: 0 auto;
    width: 48px;
    height: 48px;
}

.section-3 ul li .text-content h1 {

    width: 245px;
    height: 28px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: center;
    color: #331436;
}

.section-3 ul li .text-content p {
    width: 245px;
    height: 24px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    
    color: #331436;
}


