

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 170px;
    gap: 60px;
    background: #7A1745;    
}
.main-section .container {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
}
.main-section .container h1 {
    width: 520px;
    height: 48px;
    font: 700 40px/48px 'Roboto', sans-serif;
    color: #FFFFFF;
}
.main-section .container h1 strong {
    color: #FCF4B6;
}
.main-section .container p {
    font: 400 16px/24px 'Roboto',sans-serif;
    width: 520px;
    height: 72px;        
    text-align: center;
    color: #FFFFFF;
}
.main-section img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.main-section button {
    font: 500 16px/24px 'Roboto',sans-serif;
    text-align: center;
    padding: 12px;
    width: 240px;
    height: 48px;
    
    background: #CB4F57;
    border-radius: 8px;
    border: none;
    color: #FCF4B6;
    cursor: pointer;
}
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
}
.section-2 .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
.section-2 .container h1 {
    font: 900 40px/48px 'Roboto',sans-serif;
    color: #000000;
    margin: 0;
}
.section-2 .container p {
    font: 500 16px/24px 'Roboto',sans-serif;
    width: 1100px;
    height: 48px;
    color: #020000;
}
.section-2 .container button {
    font: 500 16px/24px 'Roboto',sans-serif;
    text-align: center;
    padding: 12px;
    gap: 12px;
    width: 240px;
    height: 48px;

    color: #FFFFFF;
    background: #331436;
    border-radius: 8px;
    border:none;
    cursor: pointer;

}
.section-2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}
.section-2 .row {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;   
}
.section-2 .card {
    
    transition: transform 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 340px;
    height: 420px;

    border: 1px solid #FFFFFF;
    border-radius: 6px;

}
.section-2 .card:hover {
    transform: scale(1.1);
}
.section-2 .card img {
    width: 340px;
    height: 340px;
    background: rgba(217, 217, 217, 0.5);

}
.section-2 .card .text-content {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    width: 340px;
    height: 80px;
}
.section-2 .card .text-content h1{
   font: 400 16px/24px 'Roboto',sans-serif;
   margin: 0;
    color: #331436;
}
.section-2 .card .text-content p {
    font: 600 20px/28px 'Roboto',sans-serif;
    color: #331436;
    margin: 0;
    
}


.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
    background: rgba(252, 244, 182, 0.5);
}
.section-3 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.section-3 .container h1 {
    font: 900 40px/48px 'Roboto',sans-serif;
    text-align: center;
    color: #331436;
    margin: 0;
}
.section-3 .container p {
    font: 570 16px/24px 'Roboto',sans-serif;
    text-align: center;    
    margin: 0;
    color: #331436;
}

.section-3 .container button {
font: 500 16px/24px 'Roboto',sans-serif;
text-align: center;
padding: 12px;
width: 240px;
height: 48px;
background: #331436;
border-radius: 8px;
border:none;
cursor: pointer;
color: #FFFFFF;
}
.section-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}
.section-3 ul .row {
display: flex;
align-items: flex-start;
padding: 0px;
gap: 40px;
}
.section-3 ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 20px;
    width: 245px;
    height: 204px;


    transition: transform 0.4s ease,  border 0.4s ease ;
    border: 2px solid transparent;
}
.section-3 ul li:hover {
    transform: scale(1.1);
    border: 2px solid #333; 
}

.section-3 ul li .frame {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    background: #331436;
    border-radius: 50px;

    
}


.section-3 ul li .frame img {
    margin: 0 auto;
    width: 48px;
    height: 48px;
}
.section-3 ul li .text-content h1 {
    font: 500 20px/28px 'Roboto',sans-serif;
    width: 245px;
    height: 28px;
    text-align: center;
    color: #331436;
    margin: 0;
}
.section-3 ul li .text-content p {
    font: 400 16px/24px 'Roboto',sans-serif;
    text-align: center;
    width: 245px;
    height: 24px;
    color: #331436;
}


.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
}

.section-4 .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
.section-4 .container h1 {
    font: 900 40px/48px 'Roboto',sans-serif;
    width: 520px;
    height: 48px;
    margin: 0;
    color: #331436;
}
.section-4 .container p {
    font: 400 16px/24px 'Roboto',sans-serif;
    width: 520px;
    height: 24px;
    margin: 0;
    color: #331436;
}

.section-4 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    gap: 40px;
    
    width: 520px;
    height: 268px;
}
.section-4 form li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}
.section-4 form li label {
font: 700 14px/20px 'Roboto',sans-serif;
color: #331436;
}

.section-4 form li input {
    
    font: 400 14px/20px 'Roboto',sans-serif;
    box-sizing: border-box;
    width: 520px;
    height: 36px;
    padding: 8px 12px;
    gap: 4px;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.5);
}
.section-4 form li span {
    font: 400 12px/16px 'Roboto',sans-serif;
    width: 520px;
    height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.section-4 form li button {
    font: 500 16px/24px 'Roboto',sans-serif;    
    text-align: center;
    width: 240px;
    height: 48px;
    gap: 12px;
    padding: 12px;

    color: #FFFFFF;
    background: #331436;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


.header-nav a button:hover {

    background-color: #ff9844; 

}

button:hover {
    background-color: #ff9844; 
  }