
body {
    margin: 0;
    }


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    gap: 20px;

    background: #331436;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}



header .logo-1 {
    width: 50px;
    height: 50px;
}

header .titulo {
    font: 400 28px/36px 'Roboto',sans-serif;    
    color: #FFFFFF;
    flex-grow: 1;
}


header .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}



.header-nav input {
    font: 400 14px/20px 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    gap: 4px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;


    background: url(assets\images\icons\search.png) no-repeat left;

    color: #FFFFFF;
}

.header-nav a {
    font: 400 16px/24px 'Roboto',sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;    


    color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}

header .header-nav img{
    position: absolute;
    top: 29px;
    right: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    background: #331436;
}

footer .socials {
    display: flex;
    justify-content: space-between;
    width: 136px;
}
footer .socials img {
    width: 34px;
}
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
}
footer .container h1 {
    font: 400 20px/28px 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.kanban {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
    
height: 746px;
    
    background: rgba(0, 0, 0, 0.1);
}

.col-title{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    color: #331436;

}
.todo-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    
    width: 240px;
    min-width: 240px;
    height: 626px;
    
    background: #FFFFFF;
    border-radius: 8px;

}

.inprogress-col {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    
    width: 240px;
    min-width: 240px;
    height: 626px;
    
    background: #FFFFFF;
    border-radius: 8px;
}

.complete-col {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 10px;

width: 240px;
min-width: 240px;
height: 626px;

background: #FFFFFF;
border-radius: 8px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    
    background: #F8F2FF;
    border: 1px solid #331436;
    border-radius: 8px;
}

.card-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   

    
width: 200px;
height: 24px;


}

.priority .status-high {

    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */
    
    color: #7A1745;
    background: #CB4F57;
    border: 1px solid #7A1745;
    border-radius: 8px;
    
    width: 30px;
    height: 15px;
}
.priority .status-mid {

    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */
    
color: #CB4F57;
    background: #EB9961;
    border: 1px solid #CB4F57;
    border-radius: 8px;
    
    width: 30px;
    height: 15px;
}
.priority .status-low {

    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */
    
color: #EB9961;
    background: #FCF4B6;
    border: 1px solid #EB9961;
    border-radius: 8px;
    
    width: 30px;
    height: 15px;
}




.card-header .date {

    width: 46px;
    height: 24px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */
    
    color: rgba(0, 0, 0, 0.5);
}

.card-content {

    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    color: #331436;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 5px;
    
    width: 200px;
    height: 39px;
}

.card-footer .users {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}
.card-footer .users .user {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    
    width: 25px;
    height: 25px;
    
    background: #801E8F;
    border-radius: 50px;
}
.card-footer .users .user .initials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 9px;
    height: 24px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    

}